<div class = 'container'>
   <h1>Voeg recept toe</h1>

   <form (ngSubmit)='onSubmit()'>

      <div class = 'form-group' [formGroup]='search'>
         <label for = 'naam'>Naam:</label>
         <input type = 'text' formControlName='naam'><br/>
         <label for = 'caloriën'>Caloriën:</label>
         <input type = 'text' formControlName='caloriën'><br/>
         <label for = 'tijdInMin'>TijdInMin:</label>
         <input type = 'number' formControlName='tijdInMin'>
      </div>
      <br />
      <button type='submit' class='btn btn-success'>Voeg toe</button>

   </form>
   <br /><br />

   <label>Recepten :&nbsp;</label>{{ result_list }}<br />


</div>
