<div class = 'container'>
   <h1>Ask question</h1>

   <form (ngSubmit)='onSubmit()'>

      <div class = 'form-group' [formGroup]='search'>
         <label for = 'name'>Naam:</label>
         <input type = 'text' formControlName='name'><br/>
         <label for = 'caloriën'>Caloriën:</label>
         <input type = 'text' formControlName='caloriën'><br/>
         <label for = 'caloriën'>Caloriën:</label>
         <input type = 'text' formControlName='caloriën'>
      </div>
      <br />
      <button type='submit' class='btn btn-success'>Ask</button>

   </form>
   <br /><br />

   <label>Answer :&nbsp;</label>{{ result_answer }}<br />


</div>
